# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.Dialog System.iml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\rmedi\Desktop\Proyectos\Unity\Dialog System\.idea\.idea.Dialog System\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
